/* RESTE A FAIRE ? REGLER LE RESPONSIVE GALERY */
.dropdown-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  padding: 30px 0;
  max-width: 1240px;
  margin: auto;
}

.dropdown {
  position: relative;
  min-width: 1000px;
}

.dropdown-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 96, 96, 1);
  padding: 20px 15px;
  cursor: pointer;
  border: 1px rgba(255, 96, 96, 1);
  border-radius: 10px;
  min-width: 100%;
  color: white;
  font-size: 24px;
}

.dropdown-menu {
  position: absolute;
  background-color: #f6f6f6f6;
  color: #000000;
  border: #ccc;
  border-radius: 4px;
  width: 98.5%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px 0 0 15px;
  font-size: 18px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #e6e5e5d5;
}

.dropdown-contents {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 10px;
  gap: 10px;
}

.dropdown-buttons {
  cursor: pointer;
}

.dropdown-buttons.open {
  border-radius: 10px 10px 0 0;
  border: 0;
}
.log-page .dropdown-content {
  width: 100%;
  background-color: #f6f6f6;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 0 0 10px 10px;
  margin-top: 0;
}

.about-page .dropdown-content {
  display: block;
  width: 100%;
  max-width: 1000px;
  background-color: #f6f6f673;
  color: black;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: auto;
  line-height: 1.3;
}

.content-dropdown li {
  font-size: 18px;
  font-weight: 400;
}
