.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}
.dropdown-about {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 0;
  border-radius: 10px;
  color: white;
}

.dropdown-about .dropdown-buttons {
  width: 100%;
  max-width: 100px;
}
