.header-container {
  padding: 25px 0;
  display: flex;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1240px;
  margin: auto;
}

.logo {
  height: 68px;
}

ul {
  list-style: none;
  display: flex;
  gap: 50px;
}

ul li a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
}

.link-home {
  text-decoration: underline;
}
